[user]
    email = masta2ooo@gmail.com
    name = SeriousM
[core]
    askpass = /bin/echo
    editor = nano
    whitespace = off
[advice]
    statusuoption = false
[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
    
